html, body {
  background: #000;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

img {
  display: block;
}

#svg54583 {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

canvas {
  height: 100%;
  width: 100%;
}

.nav-bottom {
  align-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

.container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  width: 100%;
  @media screen and (max-width: 600px) {
    align-content: space-between;
  }
}

#visual {
  position: relative;
  font-size: 0.8em;
  height: 100vmin;
  width: 100vmin;
  @media screen and (max-width: 600px) {
    width: 100vmin;
  }
}

.show,
.show-visual {
  display: block;
}

nav a {
  background-color: #000;
  border: solid 1px gold;
  font-size: 0.5em;
  margin: 0.5em;
  padding: 1em 1.5em;
  text-decoration: none;
  text-align: center;
  transition: all 0.1s;
  letter-spacing: 7px;
  font-weight: 100;
  @media screen and (max-width: 600px) {
    padding: 1em 1.5em;
    font-size: 0.8em;
    margin: 0.5em;
    margin-bottom: 80px;
  }
}

nav a:hover {
  background-color: #000;
  border: solid 1px gold;
}

nav a.active {
  background-color: #000;
  border: solid 1px gold;
}
